body {
  margin: 0px;
}
/*************/
/* container */
/*************/
.container_header {
  width: 100%;
  height: 100px;
  position: relative;
}

.conatiner_header_menu {
  display: inline;
  position: absolute;
  top: 5px;
  right: 10px;
}

.container_absolute_bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.container_body {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.container_flex {
  display: flex;
  width: 100%;
}

.container_block {
  display: block;
  width: 100%;
}

/**********/
/* header */
/**********/
.logo {
  display: inline;
  margin: 20px;
}

.logo h1 {
  display: inherit;
}

.header_menu {
  margin-left: 3px;
  margin-right: 3px;
}

.navbar {
  display: inline;
}

.navbar_menu {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  text-decoration-color: black;
  color: black;
}

a.navbar_menu:hover {
  color: purple;
}

/**********/
/* footer */
/**********/
.footer_contents {
  background-color: lightgray;
  height: 100px;
}
