<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mappers.GameListMapper">

	<select id="test" parameterType="string"
		resultType="kr.co.sist.football.test.model.dto.GameList">
		select 
		name,
		logo_path logoPath,
		max_num maxNum,
		present_num presentNum,
		location,
		formation,
		strength_code strengthCode,
		uniform_color_code uniformColorCode
		from  team_info
	</select>
	
	<select id="gamelistTeaminfo" parameterType="string"
		resultType="kr.co.sist.football.test.model.dto.GameList">
		select 
		name,
		logo_path logoPath,
		max_num maxNum,
		present_num presentNum,
		location,
		formation,
		strength_code strengthCode,
		uniform_color_code uniformColorCode
		from team_info
	</select>
</mapper>