<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mappers.GamelistMapper">

	<select id="selectGameInfo" parameterType="HashMap"
		resultType="kr.co.sist.football.common.model.dto.GameInfo">
		SELECT
		id,
		status_code statusCode,
		max_person_num
		maxPersonNum,
		kind,
		duration,
		description,
		maxnum_team
		maxnumTeam,
				TO_CHAR(GAME_DATE, 'MM:DD') m,
        TO_CHAR(game_date,'HH24:MI') n
		FROM
		game_info
		
		WHERE
		ROWNUM <![CDATA[<=]]>
		#{endNum}
		AND
		#{startNum} <![CDATA[<=]]>
		ROWNUM
		ORDER BY 
		id
		DESC
	</select>
	<select id="selectGameLocation" parameterType="int"
		resultType="kr.co.sist.football.gamelist.model.dto.GameLocation">
		SELECT
		name,
		location
		FROM
		game_location
		WHERE
		id = #{gameInfoId}
	</select>

</mapper>