<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mappers.TeamListMapper">
	<!-- 페이지에서 팀 개수를 출력할 sql -->
	<select id="getTeamCount" parameterType="string"
		resultType="int">
		select nvl(count(*),0) from team_info
	</select>
	<!-- 페이지에서 팀을 만들 때 insert할 sql -->
	<insert id="insertTeamInfo"
		parameterType="kr.co.sist.football.common.model.dto.TeamInfo">
		insert into
		team_info values
		(#{id}, #{name} ,#{logoPath},
		#{presentNum}, #{maxNum}, #{uniformColorcode},
		#{strengthCode},
		#{location}, #{formation})
	</insert>
	<!-- *로그인 가정* 팀페이지 클릭시 팀에 소속되어 있지 않으면 생성되어있는 팀 정보 출력 sql -->
	<select id="selectTeaminfoList" parameterType="hashmap"
		resultType="kr.co.sist.football.common.model.dto.TeamInfo">
		SELECT
		id,
		name,
		logo_path logoPath,
		present_num presentNum,
		max_num maxNum,
		uniform_color_code uniformColorCode,
		strength_code
		strengthCode,
		location,
		formation
		FROM
		team_info
	</select>
</mapper>